In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Create and populate a 5x3 NumPy array.
data = np.array([[0, 3], [5, 7], [20, 10], [30, 32], [40, 17]])

# Create a Python list that holds the names of the three columns.
column_names = ['temperature', 'activity']

# Create a DataFrame.
df = pd.DataFrame(data=data, columns=column_names)

# Print the entire DataFrame
print(df)

   temperature  activity
0            0         3
1            5         7
2           20        10
3           30        32
4           40        17

In [ ]:
# adding new column
df['marks'] = df['temperature'] + df['activity']*2
print(df)

   temperature  activity  marks
0            0         3      6
1            5         7     19
2           20        10     40
3           30        32     94
4           40        17     74

In [ ]:
# Create an 3x4 (3 rows x 4 columns) pandas DataFrame in which the columns are named 
# Eleanor, Chidi, Tahani, and Jason. 
# Populate each of the 12 cells in the DataFrame with a random integer between 0 and 100, inclusive.

arr = np.random.randint(low=0,high=101,size=(3,4))
column = ['Eleanor','Chidi','Tahani','Jason']

data_frame = pd.DataFrame(data=arr,columns=column)

print(data_frame)

   Eleanor  Chidi  Tahani  Jason
0       85     73      35     40
1       91     75      66     56
2        7     54      72     80

In [ ]:
# output the value in the cell of row #1 of the Eleanor column
print(data_frame['Eleanor'][1])

91

In [ ]:
# Create a fifth column named Janet, which is populated with the row-by-row division of Tahani and Jason
data_frame['Janet'] = data_frame['Tahani']/data_frame['Jason']
print(data_frame)

   Eleanor  Chidi  Tahani  Jason     Janet
0       85     73      35     40  0.875000
1       91     75      66     56  1.178571
2        7     54      72     80  0.900000

In [ ]:
# Create a reference by assigning data_frame to a new variable.
print("Experiment with a reference:")
reference_df = data_frame

# Print the starting value of a particular cell.
print("  Starting value of data_frame: %d" % data_frame['Jason'][1])
print("  Starting value of reference_df: %d\n" % reference_df['Jason'][1])

# Modify a cell in df.
data_frame.at[1, 'Jason'] = data_frame['Jason'][1] + 5
print("  Updated data_frame: %d" % data_frame['Jason'][1])
print("  Updated reference_df: %d\n\n" % reference_df['Jason'][1])

# Create a true copy of my_dataframe
print("Experiment with a true copy:")
copy_dataframe = df.copy()

# Print the starting value of a particular cell.
print("  Starting value of my_df: %d" % df['activity'][1])
print("  Starting value of copy_dataframe: %d\n" % copy_dataframe['activity'][1])

# Modify a cell in df.
df.at[1, 'activity'] = df['activity'][1] + 3
print("  Updated df: %d" % df['activity'][1])
print("  copy_dataframe does not get updated: %d" % copy_dataframe['activity'][1])

Experiment with a reference:
  Starting value of data_frame: 61
  Starting value of reference_df: 61

  Updated data_frame: 66
  Updated reference_df: 66


Experiment with a true copy:
  Starting value of my_df: 10
  Starting value of copy_dataframe: 10

  Updated df: 13
  copy_dataframe does not get updated: 10

In [ ]:
# assigning the row labels using index
pd.DataFrame({'Happy':[20,32], 'Sad':[14,37]},index=['Class A', 'Class B'])

         Happy  Sad
Class A     20   14
Class B     32   37

In [ ]:
# create a list using series
pd.Series([30, 35, 40], index=['Student A', 'Student B', 'Student C'], name='Class 10')

Student A    30
Student B    35
Student C    40
Name: Class 10, dtype: int64